<div class="containter">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

      <div class="flexbox">
				<div class="flexboxContainer">

          <div class="form-group text-center">
            <h1>Name: {{fName + ' ' + lName}}</h1>
            <h1>Gender: {{gender}}</h1>
            <h1>E-mail: {{email}}</h1>
            <h1>Phone: {{phone}}</h1>
            <h1>Bio: {{bio}}</h1>
            <button ng-click='updateProfile()' class="btn btn-warning">Update Profile</button>
            <button ng-click='logOut()' class="btn btn-link">Logout</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
