<div class="containter">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

      <div class="flexbox">
				<div class="flexboxContainer">

          <div class="profileInfo">
            <h1>Profile Information</h1>
            <input ng-model='fName' type="text" placeholder="First Name" class="form-control">
            <br>
            <input ng-model='lName' type="text" placeholder="Last Name" class="form-control">
            <br>
            <label>
              Gender:
              <input type="radio" ng-model="gender" value="Male" name="gender"> Male
              <input type="radio" ng-model="gender" value="Female" name="gender"> Female
            </label>
            <br>
            <input type="text" ng-model='phone' placeholder="Phone Number" class="form-control">
            <br>
            <input type="text" ng-model='email' placeholder="Email Address" class="form-control">
            <br>
            <textarea rows="5" ng-model='bio' placeholder="Tell us a little about yourself here!"  class="form-control"></textarea>
            <br>
            <button ng-click='acctUpdate()' class="btn btn-warning">Update Info</button>
            <button ng-click='profile()' class="btn btn-danger">Return to Profile</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
