html, body {
  height: 100%;
}

body {
  background-color: #c6c6c6;
  font-family: crackedcode, sans-serif;
}

.wrapper {
  background-color: #fff;
  height: 93%;
  margin: 0 auto;
  padding: 0 25px;
  width: 80%;
}
